.chao {
  width: 30px;
  height: 30px;
  background-color: aquamarine;
  padding: 0;
  margin: 0;
}
.human, .monster {
  width: 20px;
  height: 20px;
  position: absolute;
}
.human {
  background-color: red;
}
.monster {
  background-color: blue;
}