.chao, .parede {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
}
.chao {
  background-color: aquamarine;
}
.parede {
  background-color: black;
}
.human, .monster {
  width: 20px;
  height: 20px;
  position: absolute;
}
.human {
  background-color: red;
}
.monster {
  background-color: blue;
}